{% extends 'base.html' %}

{% block content %}
{% if error %}
<span style="color:red">{{ error }}</span>
<br><br>
{% endif %}
<h1>Tasks</h1>
<form action="{% url 'tasks' %}" method="POST">
  {% csrf_token %}
  <input type="text" name="taskDescription" placeholder="Task Description" width="400" autocomplete="off">
  <input type="submit" name="submit" value="Add Task">
</form>
<br>
<ul style="list-style-type:none;padding:0;">
  {% for task in tasks.all %}
  {% if task.customer.id == user.id %}
  <li>
    <input onclick="javascript:{document.getElementById('completeTask{{ task.id }}').submit()}" type="checkbox">&nbsp;<span class="task-desc">{{ task.task_description }}</span>
  </li>
  <form id="completeTask{{ task.id }}" method="POST" action="{% url 'complete' task.id %}">
    {% csrf_token%}
    <input type="hidden">
  </form>
  {% endif %}
  {% endfor %}
</ul>
{% endblock %}
